#profilovy-obrazek {
  cursor: help;
  transform: rotateZ(0);
  box-shadow: 0 0 15px 0px black;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  border-radius: 67% 33% 61% 39% / 41% 58% 42% 59%;
  max-width: 50%;
  height: auto;
  transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#profilovy-obrazek:hover {
  box-shadow: 0 0 25px 0px rgb(38, 77, 228);
  border-radius: 38% 62% 49% 51% / 65% 69% 31% 35%;
}
.hero:hover::before {
  content: "Click me :)";
  color: lightgray;
  text-shadow: 0 0 3px black, 0 0 1px black;
  position: absolute;
  top: 0;
  left: 0;
  width: 33%;
  margin-left: 33%;
  height: 20px;
  opacity: 0.5;
  z-index: 1;
}

.hero:active::before {
  content: "Hold!";
}

#profilovy-obrazek:active {
  cursor: wait;
  transform: rotateZ(0);
  box-shadow: 0 0 25px 0px rgb(38, 77, 228);
  animation: 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite rotateZ360 alternate;
  border-radius: 83% 54% 68% 78% / 99% 69% 78% 48%;
}

/* CSS HTML S icons */
#portfolio-obrazek {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
/* Ikony na strance work */
#portfolio-obrazek-work {
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 15%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#portfolio-obrazek-work:hover {
  opacity: 0.8;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 1px black;
  transition: all 0.4s ease-out;
}

/*extra margin for work divs*/
.extra-margin {
  margin-top: 0.5em;
  margin-bottom: 2.5em;
}

.extra-margin p {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 2em;
  margin-right: 2em;
  text-align: justify;
}

#portfolio-obrazek-work:hover .ZKUSTO {
  opacity: 1;
}

.ZKUSTO {
  background-color: #264de4;
  padding: 16px 32px;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
}

#background-blue {
  background-color: #f2f2f2;
}
#cech-pozadi {
  background: url("img/Cech-orig.png") transparent center center no-repeat;
  background-size: 200px;
}

#muni-pozadi {
  background: url("img/MUNIecon.png") transparent center top no-repeat;
  background-size: 397px;
}
.SSicon {
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.do-bloku {
  text-align: justify;
}

body {
  background-color: #ffffff;
  font-family: "Sen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #454545;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

html {
  scroll-behavior: smooth;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
  font-weight: 700;
  color: #333;
}

h1 {
  font-size: 35px;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Paragraph & Typographic */

p,
ol {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}

ol {
  padding-left: 25px;
}

ul {
  line-height: 24px;
  font-size: 15px;
  padding-left: 25px;
}

#oddelovac {
  margin: 20px 0px 80px 0px;
  padding: 2px 1px 2px 1px;
  font-size: 5px;
  color: #264de4;
  background: #264de4;
}
#oddelovac2 {
  margin: 40px 0px 0px 0px;
  padding: 2px 1px 2px 1px;
  font-size: 5px;
  color: #264de4;
  background: #264de4;
}

.ZeroMarginTop {
  margin-top: 0px;
  padding-top: 0px;
}

.centered {
  text-align: center;
}

/* Links */

a {
  color: #264de4;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

a:before,
a:after {
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.navbar {
  text-transform: uppercase;
  margin-bottom: 0px;
  background-image: linear-gradient(84deg, rgba(110, 147, 161, 0.04) 0%, rgba(110, 147, 161, 0.04) 50%, rgba(31, 225, 91, 0.04) 50%, rgba(31, 225, 91, 0.04) 100%),
    linear-gradient(338deg, rgba(201, 121, 180, 0.04) 0%, rgba(201, 121, 180, 0.04) 50%, rgba(1, 113, 56, 0.04) 50%, rgba(1, 113, 56, 0.04) 100%),
    linear-gradient(223deg, rgba(211, 211, 180, 0.04) 0%, rgba(211, 211, 180, 0.04) 50%, rgba(13, 109, 126, 0.04) 50%, rgba(13, 109, 126, 0.04) 100%),
    linear-gradient(327deg, rgba(52, 121, 135, 0.04) 0%, rgba(52, 121, 135, 0.04) 50%, rgba(18, 246, 96, 0.04) 50%, rgba(18, 246, 96, 0.04) 100%),
    linear-gradient(289deg, rgba(127, 18, 115, 0.04) 0%, rgba(127, 18, 115, 0.04) 50%, rgba(70, 203, 229, 0.04) 50%, rgba(70, 203, 229, 0.04) 100%),
    linear-gradient(203deg, rgba(131, 205, 141, 0.04) 0%, rgba(131, 205, 141, 0.04) 50%, rgba(37, 31, 18, 0.04) 50%, rgba(37, 31, 18, 0.04) 100%),
    linear-gradient(221deg, rgba(13, 183, 43, 0.04) 0%, rgba(13, 183, 43, 0.04) 50%, rgba(103, 42, 135, 0.04) 50%, rgba(103, 42, 135, 0.04) 100%),
    linear-gradient(232deg, rgba(85, 200, 233, 0.04) 0%, rgba(85, 200, 233, 0.04) 50%, rgba(215, 24, 12, 0.04) 50%, rgba(215, 24, 12, 0.04) 100%),
    linear-gradient(226deg, rgba(95, 197, 25, 0.04) 0%, rgba(95, 197, 25, 0.04) 50%, rgba(30, 61, 7, 0.04) 50%, rgba(30, 61, 7, 0.04) 100%),
    linear-gradient(178deg, rgba(132, 241, 60, 0.04) 0%, rgba(132, 241, 60, 0.04) 50%, rgba(52, 203, 19, 0.04) 50%, rgba(52, 203, 19, 0.04) 100%),
    linear-gradient(138deg, rgba(67, 161, 9, 0.04) 0%, rgba(67, 161, 9, 0.04) 50%, rgba(27, 242, 201, 0.04) 50%, rgba(27, 242, 201, 0.04) 100%),
    linear-gradient(342deg, rgba(33, 36, 218, 0.04) 0%, rgba(33, 36, 218, 0.04) 50%, rgba(248, 232, 35, 0.04) 50%, rgba(248, 232, 35, 0.04) 100%),
    linear-gradient(70deg, rgba(236, 115, 112, 0.04) 0%, rgba(236, 115, 112, 0.04) 50%, rgba(33, 180, 6, 0.04) 50%, rgba(33, 180, 6, 0.04) 100%),
    linear-gradient(106deg, rgba(11, 133, 241, 0.04) 0%, rgba(11, 133, 241, 0.04) 50%, rgba(197, 131, 207, 0.04) 50%, rgba(197, 131, 207, 0.04) 100%),
    linear-gradient(127deg, rgb(50, 74, 241), rgb(7, 26, 201));
  opacity: 0.95;
}

.navbar-inverse {
  padding: 30px 0;
}

@media (max-width: 768px) {
  .navbar-inverse {
    padding: 15px 0;
  }
}
.navbar-inverse {
  background-color: #264de4;
  border-color: #16a085;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-brand {
  transition: all 350ms ease-in-out;
  color: white;
  border-radius: 18% 82% 33% 67% / 58% 32% 68% 42%;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-brand:hover {
  background: #00000078 !important;
  color: #ffffff;
}

.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Bree Serif", serif;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-toggle {
  border-color: transparent;
}

.progress-bar-theme {
  background-color: #264de4;
}

/* Helpers */

.mt {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pt {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-3 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py {
  padding-left: 1em;
  padding-right: 1em;
}

.my {
  margin-left: 1em;
  margin-right: 1em;
}

.p-top {
  padding-top: 1em;
}

.p-btm {
  padding-bottom: 1em;
}

/* +++++ WRAP SECTIONS +++++ */

#ww {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #f2f2f2;
}

#footer {
  background-color: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 1px;
  background-image: linear-gradient(
      17deg,
      rgba(41, 41, 41, 0.02) 0%,
      rgba(41, 41, 41, 0.02) 48%,
      rgba(10, 10, 10, 0.02) 48%,
      rgba(10, 10, 10, 0.02) 59%,
      rgba(164, 164, 164, 0.02) 59%,
      rgba(164, 164, 164, 0.02) 73%,
      rgba(79, 79, 79, 0.02) 73%,
      rgba(79, 79, 79, 0.02) 93%,
      rgba(42, 42, 42, 0.02) 93%,
      rgba(42, 42, 42, 0.02) 100%
    ),
    linear-gradient(
      42deg,
      rgba(124, 124, 124, 0.02) 0%,
      rgba(124, 124, 124, 0.02) 15%,
      rgba(116, 116, 116, 0.02) 15%,
      rgba(116, 116, 116, 0.02) 23%,
      rgba(41, 41, 41, 0.02) 23%,
      rgba(41, 41, 41, 0.02) 44%,
      rgba(196, 196, 196, 0.02) 44%,
      rgba(196, 196, 196, 0.02) 54%,
      rgba(145, 145, 145, 0.02) 54%,
      rgba(145, 145, 145, 0.02) 100%
    ),
    linear-gradient(
      151deg,
      rgba(85, 85, 85, 0) 0%,
      rgba(85, 85, 85, 0) 12%,
      rgba(66, 66, 66, 0.1) 12%,
      rgba(66, 66, 66, 0.1) 28%,
      rgba(156, 156, 156, 0.02) 28%,
      rgba(156, 156, 156, 0.02) 33%,
      rgba(230, 230, 230, 0) 33%,
      rgba(230, 230, 230, 0) 50%,
      rgba(13, 13, 13, 0.02) 50%,
      rgba(13, 13, 13, 0.02) 100%
    ),
    linear-gradient(
      76deg,
      rgba(25, 25, 25, 0.02) 0%,
      rgba(25, 25, 25, 0.02) 9%,
      rgba(183, 183, 183, 0.01) 9%,
      rgba(183, 183, 183, 0.01) 32%,
      rgba(19, 19, 19, 0.15) 32%,
      rgba(19, 19, 19, 0.15) 86%,
      rgba(129, 129, 129, 0.02) 86%,
      rgba(129, 129, 129, 0.02) 88%,
      rgba(174, 174, 174, 0.06) 88%,
      rgba(174, 174, 174, 0.06) 100%
    ),
    linear-gradient(90deg, rgb(41, 41, 41), rgba(8, 8, 8, 0.9));
}

#footer p {
  color: white;
  font-size: 0.9em;
}

#footer a {
  color: white;
}

#footer h4 {
  color: white;
  padding-bottom: 20px;
}

#footer a:hover,
a:focus {
  color: #2a4fe5;
  text-decoration: none;
  outline: 0;
}

/* +++++ Color Wraps / Blog Page +++++ */

#grey {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f0f0f0;
}

#grey bd,
#white bd {
  color: #979797;
}

#white {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}

/* Blog Date*/

bd {
  font-size: 12px;
  text-transform: uppercase;
  color: #d2d2d2;
  font-weight: 700;
}

/* Blog Author*/

ba {
  font-size: 12px;
  text-transform: uppercase;
}

/* Blog Quote */

.bq {
  font-size: 22px;
  padding-top: 30px;
}

/* Blog Tags */

bt {
  font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */

/* Effects also are controled by hover.zoom.js */

.zoom {
  display: block;
  position: relative;
  overflow: hidden;
  background: transparent url(../img/loader.gif) no-repeat center;
}

.zoomOverlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  background-image: url(../img/zoom.png);
  background-repeat: no-repeat;
  background-position: center;
}

.zoom2 {
  opacity: 1;
}

.zoom2:hover {
  opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
  font-size: 40px;
  color: #264de4;
}
#glyphiconPlus {
  font-size: 40px;
  color: #264de4;
  height: 40px;
}

#hop {
  height: 60px;
}

/* Contact Form */

#contact {
  padding: 40px 0;
}

.contact-form label {
  color: #999;
}

.contact-form input,
.contact-form textarea {
  padding: 10px 12px;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button {
  background: #264de4;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #1de0ba;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #454545;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

/* Copyrights */

#copyrights {
  background: transparent;
  padding: 1px 0;
  text-align: right;
  font-size: 8px;
  color: #525252;
}

#copyrights p {
  font-size: 8px;
  margin-bottom: 0px;
  color: #525252;
}

#copyrights a {
  color: #525252;
}

.credits {
  font-size: 8px;
  color: #525252;
}

.downloadBtn {
  background-color: #172970;
  color: black;
}

.blog-img-main {
  border-radius: 15px;
}

.img-blog-head {
  padding: 10px 0px 0px 0;
}

.img-blog-head:hover {
  opacity: 0.9;
  transform: scale(1.03);
  box-shadow: 0px 0px 5px 1px black;
  transition: all 0.7s ease-out;
}

.blog-post {
  text-align: justify;
}

a h3:hover {
  color: #264de4;
}

#cert-img {
  width: 70%;
  margin-left: 15%;
}

@media (max-width: 768px) {
  #cert-img {
    width: 96%;
    margin-left: 2%;
  }
}

.strong {
  font-weight: 600;
}

.technologie {
  padding-top: 2.5em;
  font-weight: 600;
  display: block;
}

.note-span {
  display: block;
  font-size: 90%;
  line-height: 20px;
}

.project-section h2,
.project-section h3 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 3rem;
}

@keyframes rotateZ360 {
  0% {
    transform: scale(1) rotate(0deg);
  }
  33% {
    transform: scale(0.9) rotate(-5deg);
    border-radius: 83% 86% 42% 100% / 99% 69% 78% 69%;
    box-shadow: 10px 10px 25px 0px rgb(72, 26, 197);
  }
  66% {
    transform: scale(1.125) rotate(15deg);
    border-radius: 31% 69% 12% 88% / 34% 90% 10% 66%;
    box-shadow: -5px -5px 25px 0px rgb(26, 100, 197);
  }
  100% {
    transform: scale(1.35) rotate(-15deg);
    border-radius: 18% 82% 17% 83% / 69% 30% 70% 31%;
    box-shadow: 5px -12px 25px 0px rgb(22, 149, 158);
  }
}

.gradient-bg-center {
  position: relative;
  overflow: hidden;
  background-image: radial-gradient(circle at center center, transparent, rgb(255, 255, 255)),
    linear-gradient(309deg, rgba(90, 90, 90, 0.05) 0%, rgba(90, 90, 90, 0.05) 50%, rgba(206, 206, 206, 0.05) 50%, rgba(206, 206, 206, 0.05) 100%),
    linear-gradient(39deg, rgba(13, 13, 13, 0.07) 0%, rgba(13, 13, 13, 0.07) 50%, rgba(189, 189, 189, 0.05) 50%, rgba(189, 189, 189, 0.05) 100%),
    linear-gradient(144deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0) 50%, rgba(111, 111, 111, 0.05) 50%, rgba(111, 111, 111, 0.05) 100%),
    linear-gradient(166deg, rgba(231, 231, 231, 0.05) 0%, rgba(231, 231, 231, 0.05) 50%, rgba(220, 220, 220, 0.05) 50%, rgba(220, 220, 220, 0.05) 100%),
    linear-gradient(212deg, rgba(80, 80, 80, 0.09) 0%, rgba(80, 80, 80, 0.09) 50%, rgba(243, 243, 243, 0.05) 50%, rgba(243, 243, 243, 0.05) 100%),
    radial-gradient(circle at center center, hsl(107, 19%, 100%), hsl(107, 19%, 100%));
}

@keyframes rotate360slow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gradient-bg-center:before {
  content: "";
  position: absolute;
  width: 400%;
  height: 400%;
  top: -150%;
  left: -150%;
  z-index: 0;
  background: radial-gradient(circle at center center, transparent, rgb(255, 255, 255)),
    linear-gradient(309deg, rgba(90, 90, 90, 0.05) 0%, rgba(90, 90, 90, 0.05) 50%, rgba(206, 206, 206, 0.05) 50%, rgba(206, 206, 206, 0.05) 100%),
    linear-gradient(39deg, rgba(13, 13, 13, 0.07) 0%, rgba(13, 13, 13, 0.07) 50%, rgba(189, 189, 189, 0.05) 50%, rgba(189, 189, 189, 0.05) 100%),
    linear-gradient(144deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 0) 50%, rgba(111, 111, 111, 0.05) 50%, rgba(111, 111, 111, 0.05) 100%),
    linear-gradient(166deg, rgba(231, 231, 231, 0.05) 0%, rgba(231, 231, 231, 0.05) 50%, rgba(220, 220, 220, 0.05) 50%, rgba(220, 220, 220, 0.05) 100%),
    linear-gradient(212deg, rgba(80, 80, 80, 0.09) 0%, rgba(80, 80, 80, 0.09) 50%, rgba(243, 243, 243, 0.05) 50%, rgba(243, 243, 243, 0.05) 100%),
    radial-gradient(circle at center center, hsl(107, 19%, 100%), hsl(107, 19%, 100%));

  animation: rotate360slow ease-in 30s infinite;
  animation-delay: 1s;
}

.typewriter-text {
  /**/
  display: inline-block;
  overflow: hidden;
  height: 36px;
  letter-spacing: 1px;
  animation: typing 6s steps(17, jump-end), blink 0.75s step-end 25;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  width: 18ch;
}

@keyframes typing {
  0% {
    width: 0%;
  }
  75% {
    width: 0%;
  }
  100% {
    width: 18ch;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333333;
  }
}

/* Animation Animista */

.roll-in-top {
  -webkit-animation: roll-in-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 100ms both;
  animation: roll-in-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) 100ms both;
}

@-webkit-keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-top {
  0% {
    -webkit-transform: translateY(-800px) rotate(-540deg);
    transform: translateY(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.bounce-top {
  -webkit-animation: bounce-top 0.9s 900ms both;
  animation: bounce-top 0.9s 900ms both;
}

@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-55px);
    transform: translateY(-55px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-55px);
    transform: translateY(-55px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
